@use "./src/variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $darkBackground;
  color: white;
  font-family: $numberFont;
}

body {
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  height: 100vh;

  #lightModeButton {
    display: block;
  }

  #darkModeButton {
    display: none;
  }
}
