@use "./variables" as *;

.calculator__display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: auto;
    justify-content: center;
    align-items: center;
  }
}
.calculator__mode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 40vw;
  border-radius: 50%;
  background-color: $lighterDarkBackground;
  @media screen and (min-width: 768px) {
    width: 15%;
  }

  &-button {
    width: auto;
    height: 7vh;
    border-radius: 50%;
    background-color: $lighterDarkBackground;
    cursor: pointer;
  }
}

.calculator__input-grid {
  background-color: $lighterDarkBackground;
  border-radius: 20px;
  .calculator__input-button {
    background-color: $darkBackground;
    color: white;
    height: 80%;
    width: 80%;
    margin: 0.5em;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    &--operator {
      color: $red;
    }
    &--function {
      color: $turquoise;
    }
  }
}
