@use "./variables" as *;

.light-mode {
  * {
    background-color: $lightBackground;
    color: #165baa;
    font-size: bold;
  }
  #darkModeButton {
    display: block;
    background-color: $lightFront;
  }

  #lightModeButton {
    display: none;
  }
  .calculator__input-grid {
    background-color: $lightFront;
  }

  .calculator__mode {
    background-color: $lightFront;
  }
}
