//Colours for display:

$turquoise: #46f1cf;
$red: #da6367;
$lighterDarkBackground: #292d36;
$darkBackground: #22252d;

$darkerLightBackground: grey;

//font
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap");

$numberFont: "Prompt", sans-serif;
